body{
  background-color: rgb(216, 217, 216);
}
h1{
  color: black;
  text-align: center;
}
/*bouton de renvoi page-voiture*/
.CommandeVoitureSeparement{
  display: flex;
  justify-content: space-between;

}
.CommandeVoitureSeparement a{
  border: 5px black solid;
  color: black;
  padding: 3%;
  margin: 5%;
  background-color:rgba(53, 55, 71, 0.29);
  border-radius: 10px;
  transition: box-shadow 200ms ease-in-out, background-color 200ms ease-in-out, color 200ms ease-in-out, text-shadow 200ms ease-in-out;
  text-decoration:none;
  width: 40%;
  text-align:center;

}
.CommandeVoitureSeparement a:hover{
  box-shadow: 5px 5px 20px black;
  background-color: rgb(70, 71, 107);
  color: white;
  text-shadow: 5px 5px 20px black;
}
/*boutons d'action pour les deux voitures*/
.boutonActionVoiture{
  display: flex;

}
/*Objet de style*/
.separation{
  border: 4px rgb(99, 87, 148) solid;
  border-radius: 10px;
  margin-left: 5%;
  margin-right: 5%;
